
// Body
$body-bg: #fgf4f7;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #8cb4d2 !default;
$orange:  #f59346 !default;
$teal:    #20c997 !default;

$primary: $orange !default;
$secondary: $teal !default;